<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title><%- title %></title>
  <link rel="stylesheet" href="https://meyerweb.com/eric/tools/css/reset/reset200802.css">
  <link rel="stylesheet" href="./assets/style/all.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
</head>

<body>
  <header class="banner magic-height-958 d-flex justify-content-center align-items-center text-white">
    <div class="text-italic">
      <p class="fw-bold">Here’s</p>
      <h1 class="mb-8">JOANNE</h1>
      <p class="fw-bold mb-10">Founder of “XXXD Official’’<br>& Graphic Designer</p>
      <ul class="d-flex justify-content-between">
        <li>
          <img src="./assets/images/behance.svg" alt="">
        </li>
        <li>
          <img src="./assets/images/facebook.svg" alt="">
        </li>
        <li>
          <img src="./assets/images/instagram.svg" alt="">
        </li>
        <li>
          <img src="./assets/images/youtube.svg" alt="">
        </li>
      </ul>
    </div>
  </header>
  <main>
    <%- contents %>
  </main>
  <footer class="text-italic py-16 bg-black text-center">
    <h2 class="text-white mb-4">Contact</h2>
    <ul>
      <li class="mb-4">
        <a class="text-white" href="mailto:xxxd@hexschool.com">Mail：xxxd@hexschool.com</a>
      </li>
      <li>
        <a class="text-white" href="tel:+886910123456">Phone Number：0910123456</a>
      </li>
    </ul>
  </footer>
  <script src="./assets/js/vendors.js"></script>
  <script src="./assets/js/all.js"></script>
</body>

</html>
